@import "../../scss/media-queries.scss";


.countries {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    margin:0 auto;
    max-width: 1200px;


    @include desktop{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

    &__search{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        padding: 4rem 0;
        font-size: 2.4rem;
        font-weight: 600;
        text-align: center;
        background-color: var(--color-gold);
        
        @include desktop{
           width:100%;
          }
    
    }
}