.country {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #1a3263;
    color: #f5564e;
    border-top: 1px solid #e8e2db;
    border-bottom: 1px solid #e8e2db;
    font-size: 2rem;
    padding: 2rem;
    font-weight: 600;
    max-width: 70rem;
    margin: 0 auto;
    
    
    &--flag {
        max-width: 10rem;
        // object-fit: cover;
    }

    &--name{
        width: 20rem;
        
    }
}